{% extends 'base.html' %}


<!-- the header block modified -->
{% block header %}

{% endblock %}




<!-- the content block modified -->
{% block content %}
  <div class="row justify-content-center padhead">
      <div class="col-8 padhead">
        <div class="card">
          <div class="card-body align-items-center">
            <h2>Sign Up</h2>
            <form method="post" style="padding: 2rem 2rem 2rem 10rem;">
              {% csrf_token %}
              {{ form }}
              <button type="submit" class="btn btn-primary">Sign up</button>
            </form>
          </div>
        </div>
      </div>
  </div>
{% endblock %}

{% block project %}
{% endblock %}